<header class="site-header">
  <div class="header-inner">
    <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}" class="nav-brand">
      <img src="/img/terraifoc-logo.svg" alt="Terra i Foc" class="nav-logo">
    </a>
    <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}" class="nav-brand-scrolled">
      <img src="/img/terraifoc-logo.svg" alt="Terra i Foc" class="nav-scrolled-logo">
    </a>
    <nav class="nav-links" aria-label="{{ i18n "nav_aria_label" }}">
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#joan">{{ i18n "nav_joan" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#familia">{{ i18n "nav_familia" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#taller">{{ i18n "nav_taller" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#collaboracions">{{ i18n "nav_collaboracions" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#glossari">{{ i18n "nav_glossari" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#galeria">{{ i18n "nav_galeria" }}</a>
      <a href="/{{ if eq .Language.Lang "en" }}en/{{ end }}#contacte">{{ i18n "nav_contacte" }}</a>
      <div class="header-lang">
        {{ if eq .Language.Lang "ca" }}
          <a href="/en/" class="lang-link">{{ i18n "nav_lang" }}</a>
        {{ else }}
          <a href="/" class="lang-link">{{ i18n "nav_lang" }}</a>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
